.keys {
    display: flex;
    align-items: center;
    justify-content: center;
}
.key-key {
    flex-basis:60%;
    height: 70%;
    border-radius: 15%;

    
    background-color:blueviolet;
    
    display: flex;
    
    justify-content: center;
    align-items: center;

    color:black;
}