.pads {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pad-hit {
    flex-basis:70%;
    height: 70%;
    border-radius: 50%;

    
    background-color:blueviolet;
    
    display: flex;
    
    justify-content: center;
    align-items: center;

    color:black;
}